<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
     ">

	<!-- Enable Mail Properties -->
	<bean class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.******.in" />
		<property name="port" value="25" />
		<property name="username" value="TalentEx-Jobs@***********.in" />
		<property name="password" value="********" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.debug">false</prop>
				<prop key="mail.smtp.ssl.enable">false</prop>
				<prop key="mail.smtp.ssl.trust">smtp.talentex.in</prop>
			</props>
		</property>
	</bean>

	<!--Enable MailVelocity Properties -->
	<bean class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="velocityProperties">
			<props>
				<prop key="resource.loader">class</prop>
				<prop key="class.resource.loader.class">
					org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
				</prop>
			</props>
		</property>
	</bean>

</beans>

